<!DOCTYPE html>
<html>
<head>
  <title>Exam Calendar</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./styles/template.css"></script>

  <link rel="stylesheet" href="./../bootstrap-3.3.6-dist/css/bootstrap.css">


</head>

<body>
	<header>
		<a id="home_button" href="../">Home</a>
		<a id="logout_button"href="../logout.php">Logout</a>
		<p id="user_name">Dona Lina</p>
	</header>	

	

	<aside id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li><a href="../menu">123</a></li>
		</ul>
	</aside>
	
	<footer>
		Desenvolvido por: 
		<a href="//ni.fe.up.pt">NIAEFEUP</a>
	</footer>

  	<script src="./../bootstrap-3.3.6-dist/jquery/jquery.js"></script>
  	<script src="./../bootstrap-3.3.6-dist/js/bootstrap.js"></script>

</body>

</html>