#examCalendar {
	margin: auto;
	margin-top: 50px;
	width: 90%;
}

#examCalendar h1 {
	text-align: center;
}

#generate_button {
	background-color: #3973ac;
	border-color: #132639;
	font-size: 100% !important;
}

#validate_button {
	border-color: #132639;
}

.row-head {
	color: #fff;
	background-color: #132639;
}

.row-type1 {
	background-color: #eee;
}

.row-type2 {
	background-color: #ddd;
}

.elem-empty {
	background-color: #fff;
	border-style: none !important;
}

.elem-time-interval {
	background-color: #00cc99;
}

.redips-drag {
	cursor: move;
	margin: auto;
	margin-bottom: 2px;
	margin-top: 2px;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt;
	line-height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.t1, .unassigned-body, .unassigned-header {
	border: 2px solid #132639;
	padding: 5px;
}

.unassigned-body {
	height: 25px;
}

#calendar_div td {
	border: 2px solid #132639;
	text-align: center;
	font-size: 10pt;
	padding: 5px;
	padding-bottom: 10px;
}

.row.ng-scope{
	padding: 0;
}

#usersSidebar {
	position: fixed;
	top: 8.3% !important;
}

#usersHeader {
	position: fixed;
	width: 100%;
}

#right_buttons {
	text-align: center;
	margin-top: 7.5%;
}

#right_buttons button{
	/*display:none;*/
	width: 60%;
	margin-top: 2%;
}

#d1:hover {
	background-color: #ccfff3 !important;
}

.row {
	margin-right: 0 !important;
}

.year1, .year2, .year3, .year4, .year5 {
	border: 3px;
	border-radius: 7px;
}
.legend_year1, .legend_year2, .legend_year3, .legend_year4, .legend_year5 {
	border: 3px solid black;
	color: white;
}

.year1 {
	border-color: blue;
}
.legend_year1 {
	background-color: blue;
}

.year2 {
	border-color: red;
}
.legend_year2 {
	background-color: red;
}

.year3 {
	border-color: green;
}
.legend_year3 {
	background-color: green;
}

.year4 {
	border-color: brown;
}
.legend_year4 {
	background-color: brown;
}

.year5 {
	border-color: black;
}
.legend_year5 {
	background-color: black;
}

.legend_normal, .legend_appeal {
	border: 3px solid black;
	color: white;
}

.normalSeason {
	background-color: orange;
}
.legend_normal {
	background-color: orange;
}

.appealSeason {
	background-color: grey;
}
.legend_appeal {
	background-color: grey;
}

#legend {
	margin: auto;
	width: 50%;
}

.exam {
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.calendar-table {
	table-layout: fixed;
	margin-bottom: 0;
}

.calendar-buttons {
	padding-bottom: 10px;
}

.calendar-buttons > * {
	white-space: normal;
}