<link rel="stylesheet" href="views/calendar/calendar.css">
<link rel="stylesheet" href="directives/shared/adminListing.css">

<users-header></users-header>

<div id="redips-drag" class="row">

  <div id="examCalendar">
    <br>
    <h1>Exam Calendar</h1>
    <hr>

    <div class="col-sm-10" id="calendar_div">
      <calendar></calendar>
    </div>

    <div class="col-sm-2">

      <button type="button" class="btn btn-success" id="validate_button">Validate Calendar</button><br>
      <a href="constraints" class="btn btn-danger" id="generate_button">Generate Calendar</a><br>
      <unassigned></unassigned>
    </div>
  </div>

</div>

<div id="legend">
  <h4>Legend</h4>
  <table>
    <tr>
      <td class="legend_year1">First Year</td>
      <td class="legend_year2">Second Year</td>
      <td class="legend_year3">Third Year</td>
      <td class="legend_year4">Fourth Year</td>
      <td class="legend_year5">Fifth Year</td>
    </tr>
    <tr>
      <td class="legend_normal">Normal Season</td>
      <td class="legend_appeal">Appeal Season</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<modal></modal>

<script type="text/javascript" src="views/calendar/redips-drag-min.js"></script>
<script type="text/javascript" src="views/calendar/calendar.js"></script>
