#examCalendar {
	margin: auto;
	margin-top: 10%;
	width: 90%;
}

#examCalendar h1 {
	text-align: center;
}

#import_button , #generate_button {
	background-color: #3973ac;
	border-color: #132639;
	font-size: 100% !important;
}

#export_button, #validate_button, #optimize_button {
	border-color: #132639;
	font-size: 100% !important;
}

.row-head {
	color: #fff;
	background-color: #132639;
}

.row-dates {
	background-color: #00cc99;
}

.row-type1 {
	background-color: #eee;
}

.row-type2 {
	background-color: #ddd;
}

.elem-empty {
	background-color: #fff;
	border-style: none !important;
}

.elem-time-interval {
	background-color: #00cc99;
}

#calendar_div {
	margin: auto;
	width: 50%;
}

.redips-drag {
	cursor: move;
	margin: auto;
	margin-bottom: 1%;
	margin-top: 1%;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt;
	width: 87px;
	line-height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.t1, .unassigned-body, .unassigned-header {
	border: 2px solid #132639;
}

.unassigned-body {
	height: 25px;
}

#calendar_div td {
	height: 32px;
	border: 2px solid #132639;
	text-align: center;
	font-size: 10pt;
	padding: 1%;
	width: 130px !important;
}

#calendar_div {
	margin: auto;
	width: 120%;
	margin-left: -70px;
}

.row.ng-scope{
	padding: 0;
}

#usersSidebar {
	position: fixed;
	top: 8.3% !important;
}

#usersHeader {
	position: fixed;
	width: 100%;
}

#right_buttons {
	text-align: center;
	margin-top: 7.5%;
	clear: right;
}

#right_buttons button{
	display:none;
	width: 60%;
	margin-top: 2%;
}

#d1:hover {
	background-color: #ccfff3 !important;
}

.row {
	margin-right: 0 !important;
}
