<link rel="stylesheet" href="views/calendar/calendar.css">
<link rel="stylesheet" href="directives/shared/adminListing.css">

<users-header></users-header>

<div id="redips-drag" class="row">

  <users-sidebar class="col-12 col-sm-3"></users-sidebar>

  <div class="col-12 col-sm-6">
    <div id="examCalendar">
      <br>
      <h1>Exam Calendar</h1>
      <hr>

      <div id="calendar_div">
        <calendar></calendar>
      </div>

    </div>
  </div>

  <div class="col-12 col-sm-3" id="right_buttons">
    <i class="fa fa-cog fa-3x fa-fw" id="options_icon" onclick="change_autorefreshdiv();"></i><br><br>
    <button type="button" class="btn btn-danger" id="export_button">Export Calendar</button><br>
    <button type="button" class="btn btn-success" id="import_button">Import Calendar</button><br>
    <button type="button" class="btn btn-danger" id="validate_button">Validate Calendar</button><br>
  </div>

  <unassigned></unassigned>

</div>

<div id="legend">
  <h4>Legend</h4>
</div>

<modal></modal>

<script type="text/javascript" src="views/calendar/redips-drag-min.js"></script>
<script type="text/javascript" src="views/calendar/calendar.js"></script>
