<link rel="stylesheet" href="views/faq/faq.css">

<users-header></users-header>

<div class="row">

  <users-sidebar class="col-12 col-sm-3"></users-sidebar>

	<div class="col-12 col-sm-8" id="faq-div">
    <!-- Note: Appearance may be changed and so the HTML structure behind it. This code should serve as a guideline.-->
    <h2>Frequently Asked Questions</h2>
    <h5>TODO Explain the motivation behind this platform. What it provides and what it aims to do. Explain who we are.</h5>
    <hr>
    <h5>TODO Explain how does this work. Create calendar manualy, validation, generation, type of files (with downloadable examples), contacts, ...</h5>
    <hr>
    <h5>TODO Explain that there's also two types of constraints and theirs usefulness.</h5>
    <h3>Hard Constraints</h3>
    <ul>
      <li><h5>Constraint title</h5><br><h6>Constraint description</h6></li>
    </ul>
    <h3>Soft Constraints</h3>
    <ul>
      <li><h5>Constraint title</h5><br><h6>Constraint description</h6></li>
    </ul>
  </div>


</div>
