<link rel="stylesheet" href="views/login/login.css">

<form class="login">

	<fieldset>
		<legend class="legend">Login</legend>

		<div class="input">
			<input id="email" type="text" placeholder="Email" required />
		</div>

		<div class="input">
			<input id="password" type="password" placeholder="Password" required />
		</div>

		<button type="submit" class="submit" ng-click="login()"></button>

	</fieldset>

</form>

<br><br>
<div>
	<a href="//ni.fe.up.pt"><img src="shared/ni.png" alt="NIAEFEUP" id="ni"></a>
</div>
