<link rel="stylesheet" href="views/login/login.css">

<form class="login">

	<fieldset>
		<legend class="legend">Login</legend>

		<div class="input">
			<input type="email" placeholder="Email" required />
		</div>

		<div class="input">
			<input type="password" placeholder="Password" required />
		</div>

		<a href="#" id="forgotPassword">Forgot your password?</a><br><br>
		<button type="submit" class="submit"></button>

	</fieldset>

</form>

<br><br>
<a href="//ni.fe.up.pt"><img src="views/login/ni.png" alt="NIAEFEUP" id="ni"></a>
