#importDatabase {
  margin: auto;
  margin-top: 7%;
}

#studentButton, #teacherButton, #classroomButton {
  display: none;
}

#upload {
  float: right;
  margin-top: 4%;
  width: 8%;
}

.row {
  margin-right: 0 !important;
}

.progress {
  margin-top: 10%;
}

.progress-bar.progress-bar-striped.active {
  width: 33%;
}
