#userSection {
  margin-top: 6%;
  margin-left: 5%;
  width: 60%;
}

#addingSection {
  margin-top: 6%;
}

.emailContent {
  font-size: 20px;
  opacity: 1;
}

.userEmail button{
  float: right;
}

#addingSection{
  float: right;
  width: 30%;
  margin-right: 3%;
  margin-top: 7.5%;
}
