<link rel="stylesheet" href="views/adminUsers/adminUsers.css">
<link rel="stylesheet" href="shared/adminListing.css">

<div id="adminHeader"></div>

<div class="row">

  <div class="col-sm-4" id="addingSection">

    <div class="input-group">

      <input type="text" class="form-control" placeholder="Add a new email">
      <span class="input-group-btn">
        <button type="button" class="btn btn-success btn-secundary" onclick="addUser()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>

    </div>

  </div>

  <div class="col-sm-8" id="listSection">

    <h1>User List</h1><hr>

    <div class="userEmail">
  		<span class="emailContent">1. emailexample@email.com</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
  	</div>

    <div class="userEmail">
      <span class="emailContent">2. emailexample@email.com</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

    <div class="userEmail">
      <span class="emailContent">3. emailexample@email.com</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

    <div class="userEmail">
      <span class="emailContent">4. emailexample@email.com</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

	</div>

</div>

<script src="shared/adminHeader.js"></script>
<script src="views/adminUsers/script.js" async></script>
