#examCalendar {
	margin: auto;
	width: 100%;
}

#examCalendar h1 {
	float: left;
}

#examCalendar button {
	float: right;
	margin-top: 3.5%;
	margin-left: 2%;
	width: 25%;
	font-size: 100%;
}

.row-head {
	color: #fff;
	background-color: #132639;
}

.row-dates {
	background-color: #00cc99;
}

.row-type1 {
	background-color: #eee;
}

.row-type2 {
	background-color: #ddd;
}

.elem-empty {
	background-color: #fff;
	border-style: none !important;
}

.elem-time-interval {
	background-color: #00cc99;
}

#redips-drag {
	margin: auto;
	width: 50%;
}

.redips-drag {
	cursor: move;
	margin: auto;
	margin-bottom: 1%;
	margin-top: 1%;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt;
	width: 87px;
	line-height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.t1 {
	border: 2px solid #132639;
}

#redips-drag td {
	height: 32px;
	border: 2px solid #132639;
	text-align: center;
	font-size: 10pt;
	padding: 1%;
	width: 130px !important;
}

#redips-drag {
	margin: auto;
	width: 120%;
	margin-left: -70px;
}
