<link rel="stylesheet" href="views/calendarOverview/examInformation.css">

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3 class="modal-title">IART</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-sm-12">
      <p><b>Exam Name:</b> Inteligência Artificial</p>
      <p><b>Date:</b> 1 of July</p>
      <p><b>Hour:</b> 09:00 - 12:00</p>
      <p><b>Students:</b> 100</p>
      <p><b>Professors:</b> Professor1, Professor2, Professor3</p>
      <p><b>Classrooms:</b></p>
    </div>
    <div class="col-12 col-sm-6">
      <p id="withoutPC">Without PC's</p>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B001" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B002" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B003" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B004" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B005" readonly>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <p id="withPC">With PC's</p>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B315" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B316" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B317" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B318" readonly>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox">
        </span>
        <input class="form-control" type="text" value="B319" readonly>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
</div>
