<link rel="stylesheet" href="views/calendarOverview/calendarOverview.css">
<link rel="stylesheet" href="shared/adminListing.css">

<users-header></users-header>

<div class="row">

  <users-sidebar class="col-12 col-sm-3"></users-sidebar>
  <div class="col-12 col-sm-3"></div>
  <div class="col-12 col-sm-6">
    <div id="examCalendar">
      <br>
      <h1>Exam Calendar</h1>
      <hr>

      <div id="redips-drag">
        <calendar></calendar>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-3" id="right_buttons">
    <i class="fa fa-cog fa-3x fa-fw" id="options_icon" onclick="change_autorefreshdiv();"></i><br><br>
    <button type="button" class="btn btn-danger" id="export_button">Export Calendar</button><br>
    <button type="button" class="btn btn-success" id="import_button">Import Calendar</button><br>
    <button type="button" class="btn btn-danger" id="validate_button">Validate Calendar</button><br>
    <button type="button" class="btn btn-success" id="generate_button">Generate Calendar</button><br>
    <button type="button" class="btn btn-danger" id="optimize_button">Optimize Calendar</button><br>
  </div>

</div>


<div id="examInformation" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content" id="examModal">

    </div>

  </div>

</div>

<script src="views/calendarOverview/examInformation.js"></script>
<script type="text/javascript" src="views/calendarOverview/redips-drag-min.js"></script>
<script type="text/javascript" src="views/calendarOverview/calendarOverview.js"></script>
