#constraints_list{
		margin: auto;
		margin-top: 7%;
}

#constraints_list button{
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

#constraints button{
	float: right;
	margin-right: 1%;
	margin-top: -5px;
}
