#steps{
		margin: auto;
		margin-top: 7%;
}

.dropdown{
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

#constraints button{
	float: right;
	margin-right: 1%;
	margin-top: -5px;
}

.row {
	margin-right: 0 !important;
}
