<link rel="stylesheet" href="views/constraints/constraints.css">

<users-header></users-header>

<div class="row">

  <users-sidebar class="col-12 col-sm-3"></users-sidebar>

	<div class="col-12 col-sm-8">
    <div id="constraints_list">
      <br>
      <h1>List of constraints <button class="btn btn-success" type="button" ng-click="addConstraint()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h1>
      <hr>
		</div>

			<div id="constraints">
			</div>

  </div>

</div>
