<link rel="stylesheet" href="views/constraints/constraints.css">

<users-header></users-header>

<div class="row">

  <users-sidebar class="col-12 col-sm-3"></users-sidebar>

  <div class="col-12 col-sm-8">
    <div id="constraints_list">
      <br>
      <h1>List of constraints
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-click="addConstraint('Room')"><a href="">Room Constraint</a></li>
            <li ng-click="addConstraint('Professor')"><a href="">Professor Constraint</a></li>
            <li ng-click="addConstraint('Year')"><a href="">Year Constraint</a></li>
          </ul>
        </div>
      </h1>
      <hr>
		</div>

			<div id="constraints">
			</div>

  </div>

</div>
