#importDatabase {
  margin: auto;
  margin-top: 7%;
}

#ucmapButton, #professorsButton, #roomsButton {
  display: none;
}

.input-group input.form-control+label.input-group-btn {
  display: table-cell;
  padding: 0;
  margin: 0;
  border: none;
}

#file-import-form input[type="text"] {
  background-color: white;
}

#upload {
  float: right;
  margin-top: 4%;
  width: 8%;
}

.row {
  margin-right: 0 !important;
}

#choose-exams-table tr td {
	position: relative;
	line-height: 1.42857143;
}

#choose-exams-table input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

select.difficulty {
	height: 2.5em;
}

tr > .season {
	text-align: right;
}