#fullNavbar {
  background-color: #132639;
  border-radius: 0 !important;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#users_button {
  margin: auto;
  margin-top: 7%;
  width: 190%;
}

#logout_button {
  margin: auto;
  margin-top: 7%;
  width: 170%;
}

#middle_column {
  width: 2%;
}

#left_column {
  width: 40%;
}

#dropdown_button {
  color: #53799F;
  font-size: 170%;
  margin-top: 2.5%;
}

#ni {
  margin-top: 0.2%;
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  height: 90%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
