<link rel="stylesheet" href="views/adminHome/adminHome.css">
<link rel="stylesheet" href="shared/adminListing.css">

<div id="adminHeader"></div>

<div class="row">

  <div class="col-sm-4" id="exportSection">

		<button type="button" class="btn btn-success btn-lg">Export Log File</button>

  </div>

  <div class="col-sm-8" id="listSection">

    <h1>Activity List</h1><hr>

    <div class="userEmail">
  		<span class="emailContent">1. Activity</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
  	</div>

    <div class="userEmail">
      <span class="emailContent">2. Activity</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

    <div class="userEmail">
      <span class="emailContent">3. Activity</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

    <div class="userEmail">
      <span class="emailContent">4. Activity</span>
      <button class="btn btn-primary" type="button">Delete</button>
      <br><br><br>
    </div>

	</div>

</div>

<script src="shared/adminHeader.js"></script>
