<!DOCTYPE html>
<html>
<head>
  <title>Exam Calendar</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/template.css"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>

<body>
	<header>
		<a id="home_button" href="login.php">Home</a>
		<a id="logout_button"href="logout.php">Logout</a>
		<p id="user_name">Dona Lina</p>
	</header>
