<!DOCTYPE html>
<html>
<head>
  <title>Exam Calendar</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/template.css"></script>
  <link href="css/bootstrap-switch.css" rel="stylesheet">
  <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/bootstrap.css">
  <script src="./../lib/bootstrap-3.3.6-dist/jquery/jquery.js"></script>
  <script src="./../lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</head>

<body>
	<header>
		<a id="home_button" href="../">Home</a>
		<a id="logout_button"href="../logout.php">Logout</a>
		<p id="user_name">Dona Lina</p>
	</header>
